* {
  margin: 0;
  padding: 0;
}

html {
  background-color: lightgreen;
}

#nav_bar {
  padding: 10px;
  margin: 20px;
  color: white;
  background-color: darkred;
  border-radius: 10px;
  text-align: center;
}

.nav_list {
  display: inline;
  margin: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

main {
  margin: 20px;
  height: 75vh;
  text-align: center;
}

#education {
  margin: 20px;
}

.edu_list {
  margin: 20px;
  list-style: none;
}

.other_links,
.other_links:visited {
  color: blue;
  text-decoration: none;
}
